#header
  #main-menu
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Menu
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"}
            = image_tag "logo.png", class: "logo"
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %form#search_form.navbar-form.navbar-left{:role => "search", action: "/abc", method: :post}
            .form-group
              %input.form-control{:placeholder => "Enter product name", :type => "text"}/
            = fa_icon "search", class: "search-logo", onclick: "search_form.submit()"
          %ul.nav.navbar-nav.navbar-right
            %li.active
              %a{:href => "#"} Trang Chủ
            %li
              %a{:href => "#"} Sản Phẩm
            %li
              %a{:href => "#"} Liên Hệ
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Hiệp Đinh
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "#"} Setting
                %li.divider
                %li
                  %a{:href => "#"} Logout
