#recommend-product
  .hr-title
    %span
      = fa_icon "star"
      Sản phẩm nổi bật

  #product-items.owl-carousel
    - @hot_products.each do |product|
      = render "shared/product", :product => product
